<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API - MVC</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <div id="app" class="container is-max-desktop mt-5">
        <h1 class="title">Add Supplier</h1>
        <div class="field">
            <label class="label">Company Name</label>
            <div class="control">
                <input type="text" name="company_name" id="company_name" class="input" placeholder="Company Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Contact Name</label>
            <div class="control">
                <input type="text" name="contact_name" id="contact_name" class="input" placeholder="Contact Name">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Email</label>
            <div class="control">
                <input type="text" name="email" id="email" class="input" placeholder="Email">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Phone</label>
            <div class="control">
                <input type="text" name="phone" id="phone" class="input" placeholder="Phone">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Active</label>
            <div class="control">
                <input type="text" name="active" id="active" class="input" placeholder="Active">
            </div>
        </div>
        <div class="control">
            <button class="button is-success" id="save">SAVE</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('save').onclick = () => {
            axios({
                method: 'post',
                url: '/api/suppliers',
                data: {
                    company_name: document.getElementById('company_name').value,
                    contact_name: document.getElementById('contact_name').value,
                    email: document.getElementById('email').value,
                    phone: document.getElementById('phone').value,
                    active: document.getElementById('active').value
                }
            }).then((result) => {
                Swal.fire({
                    title: 'Info Status: ' + result.status,
                    icon: 'success',
                    text: 'Supplier Pengguna Telah Ditambahkan',
                    showConfirmButton: false,
                    timer: 1300
                })
                // alert('Info Status: ' + result.status)
                setTimeout(() => {
                    window.location = "/";    
                }, 1600);
            }).catch((err) => {
                alert('error ' + err)
            });
        }
    </script>
</body>
</html>